.bg-gradient-primary {
    background-color: #004943;
    /* background-color: #214e34; */
    background-image: none;
    /* background-color: rgb(45, 81, 46); */
}
.sidebar .nav-item .collapse .collapse-inner .collapse-item.active, .sidebar .nav-item .collapsing .collapse-inner .collapse-item.active {
    color: #004943!important;
}

.page-item.active .page-link {
    background-color: #004943!important;
    border-color: #004943!important;
}

/*.img-fluid .img-thumbnail.imageProfile {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ccc;
}*/

#blurred-overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px); /*For webkit browsers para sa mga old version of browsers*/
    z-index: 999;

    transition: opacity 0.3s ease, visibility 0.3s ease;
}
#blurred-overlay-page{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px); /*For webkit browsers para sa mga old version of browsers*/
    z-index: 999;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}


/* Fix Select2 Clear Button Visibility */
.select2-container--bootstrap4 .select2-selection--single .select2-selection__clear {
    float: right;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1;
    color: #6e707e;
    margin-right: 25px;
    cursor: pointer;
}

    .select2-container--bootstrap4 .select2-selection--single .select2-selection__clear:hover {
        color: #e74a3b;
    }

/* Adjust arrow position when clear button is present */
.select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow {
    right: 5px;
}

/*green color */
.select2-container--bootstrap4 .select2-results__option--highlighted,
.select2-container--bootstrap4 .select2-results__option--highlighted.select2-results__option[aria-selected] {
    background-color: #1cc88a !important; /* Green color */
    color: white !important;
}
/* Hover effect on dropdown items */
.select2-container--bootstrap4 .select2-results__option:hover {
    background-color: #f8f9fc;
    cursor: pointer;
}

/* Force all form controls and Select2 to use same focus color */
.form-control:focus,
.select2-container--bootstrap4.select2-container--focus .select2-selection,
.select2-container--bootstrap4.select2-container--open .select2-selection {
    border-color: #bac8f3 !important;
    box-shadow: 0 0 0 0.2rem rgba(78, 115, 223, 0.25) !important;
}