body {
}

.custom-validation-summary ul{
    list-style-type: none;
    padding: 0;
    text-align: left;
}

.input-group.position-relative {
    position: relative;
}

.toggle-password-btn {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    border: none !important;
    background: none !important;
    z-index: 10;
    padding: 5px 10px;
}

    .toggle-password-btn:focus {
        outline: none;
        box-shadow: none !important;
    }

    .toggle-password-btn i {
        color: #6c757d;
        font-size: 16px;
    }

    .toggle-password-btn:hover i {
        color: #000;
    }