<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="~/DashboardTemplate/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <link href="~/DashboardTemplate/css/sb-admin-2.css" rel="stylesheet">
    <link href="~/DashboardTemplate/css/admin-style.css" rel="stylesheet">
    <link href="~/css/LoginLayout.css" rel="stylesheet" asp-append-version="true"/>

</head>
<body>

    <section class="background-radial-gradient overflow-hidden">
        <style>
            .background-radial-gradient {
                min-height: 100vh; /* 100% of the viewport height */
                display: flex;
                align-items: center; /* optional: center content vertically */
            }

            .background-radial-gradient {
                background-color: hsl(143, 40%, 15%);
                background-image: radial-gradient(650px circle at 0% 0%, hsl(137, 41%, 35%) 15%, hsl(136, 41%, 30%) 35%, hsl(141, 41%, 20%) 75%, hsl(117, 40%, 19%) 80%, transparent 100%), radial-gradient(1250px circle at 100% 100%, hsl(108, 41%, 45%) 15%, hsl(123, 41%, 30%) 35%, hsl(107, 41%, 20%) 75%, hsl(114, 40%, 19%) 80%, transparent 100%);
            }

            #radius-shape-1 {
                height: 220px;
                width: 220px;
                top: -60px;
                left: -130px;
                background: radial-gradient(#006b29, #1fff50);
                overflow: hidden;
            }

            #radius-shape-2 {
                border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
                bottom: -60px;
                right: -110px;
                width: 300px;
                height: 300px;
                background: radial-gradient(#256b00, #1fff79);
                overflow: hidden;
            }

            .bg-glass {
                background-color: hsla(0, 0%, 100%, 0.9) !important;
                backdrop-filter: saturate(200%) blur(25px);
            }
        </style>

        <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
            
            <div class="row gx-lg-5 align-items-center mb-5">
                <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                    <h1 class="my-5 display-4 fw-bold ls-tight" style="color: hsl(218, 81%, 95%);  font-size: 50px;">
                        <br />Attendance Monitoring <br />
                        <span style="color: hsl(132, 81%, 75%)">System</span>
                    </h1>
                    <p class="mb-4 opacity-70" style="color: hsla(218, 51%, 90%, 1.00); font-size: 20px;">
                        Mayor Cesario A. Pimentel National Highschool
                        
                    </p>
                    
                </div>

                <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                    <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                    <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

                    <div class="card bg-glass">
                        <div class="card-body px-4 py-5 px-md-5">
                            @RenderBody()
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @* @section Scripts { *@
    @*         <script src="DashboardTemplate/vendor/jquery/jquery.min.js"></script> *@
    @*         <script src="DashboardTemplate/vendor/bootstrap/js/bootstrap.bundle.min.js"></script> *@

    @*         <script src="DashboardTemplate/vendor/jquery-easing/jquery.easing.min.js"></script> *@

    @*         <script src="DashboardTemplate/js/sb-admin-2.min.js"></script> *@

    @*         <script src="DashboardTemplate/vendor/chart.js/Chart.min.js"></script> *@

    @*         <script src="DashboardTemplate/js/demo/chart-area-demo.js"></script> *@
    @*         <script src="DashboardTemplate/js/demo/chart-pie-demo.js"></script> *@
    @*         <partial name="_ValidationScriptsPartial" /> *@
    @* } *@

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>